<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Crampa Holds - Admin</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

	{{!-- This section allows templates to define custom CSS here --}}
	{{{_sections.header_css}}}
    {{!-- This section allows templates to define custom JS here --}}
	{{{_sections.header_js}}}
</head>

<body>
	{{{body}}}

	{{!-- TODO: Use a build system (babelify/vuefy/browserify/watchify) to generate the client JS --}}

	{{!-- Polyfill  for the Promise and Fetch APIs --}}
	<script src="/public/js/polyfill/promise.js"></script>
	<script src="/public/js/polyfill/fetch.js"></script>

	<script src="//unpkg.com/lodash"></script>
	<script src="//unpkg.com/vue"></script>
	{{!-- <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script> --}}
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	{{!-- This section allows templates to add custom JS here --}}
	{{{_sections.body_js}}}
</body>

</html>
