<div class="container-fluid">
	<h1>The Story Behind</h1>

	<div class="row">
		<div class="col col-md-3">
			<img src="/uploads/files/_5gcHqKDy9DAOzKz.JPG" alt="CRAMPA creator">

		</div>

		<div class="col col-md-9">
			<p>
				<b>CRAMPA</b> is a small Bulgarian company for design and production of climbing holds, wooden fingerboards and campus board
				rungs.
			</p>
			​
			<p>
				Behind the unique design is Stefan Vepshek, climber and sculptor. The thing he is most passionate about is to create a high
				quality and beautiful products, suitable to his way of life.
			</p>
			​
			<p>
				Inspired by the beauty of the wood he has created a portable fingerboards, especially designed for travelling climbers. The
				shape and the fixation system allow to vary the angle and to enjoy a different grips for an effective workout. The grips
				are ergonomic and comfortable.
			</p>
			​
			<p>
				We hope you will find your CRAMPA made with lots of love and a little bit of science.
			</p>
		</div>
	</div>
</div>
