<div class="container">
	<div class="row gallery">
		{{#each images}}
		<div class="col col-xs-4 col-md-3 gallery-image">
			<img src="{{imageUrl url width='300' height='300'}}" class="img-rounded">
		</div>
		{{/each}}
	</div>
</div>
