<div class="container-fluid">
	<div class="row">
		{{#each images}}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<a href="{{imageUrl url}}" class="d-block my-1 gallery-item">
				<img src="{{imageUrl url width='150' height='150'}}">
				
				<div class="gallery-item-hover-effect">
					<i class="fas fa-search"></i>
				</div>
			</a>
		</div>
		{{/each}}
	</div>
</div>

{{#section 'head_css'}}
	<link href="/public/styles/build.gallery.css?v={{version}}" rel="stylesheet">
{{/section}} 
{{#section 'body_js'}}
	<script src="/public/js/build.gallery.js?v={{version}}"></script>
{{/section}}
