<div class="container-fluid">

	<h1>Inspired by the natural beauty of the wood we have created a work of art for you</h1>

	<app-slideshow :images="{{toJSON gallery.images}}" :count="'auto'" :autoplay="3000"></app-slideshow>
</div>

{{#section 'head_css'}}
	<link href="/public/styles/build.home.css?v={{version}}" rel="stylesheet">
{{/section}} 
{{#section 'body_js'}}
	<script src="/public/js/build.home.js?v={{version}}"></script>
{{/section}}
