<app-slideshow :images="{{toJSON gallery.images}}"></app-slideshow>

<div>Inspired by a natural beauty of wood we have created a work of art for you</div>

{{#section 'head_css'}}
	<link href="/public/styles/build.home.css?v={{version}}" rel="stylesheet">
{{/section}} 
{{#section 'body_js'}}
	<script src="/public/js/build.home.js?v={{version}}"></script>
{{/section}}
