<div class="container-fluid">
	<h1>News</h1>

	<div class="row">
		<div class="col">
			<h3>European Youth Bouldering Cup 21-22ns July in Sofia, Bulgaria</h3>

			<p>
				Crampa is a proud sponsor of the event <br>
				<a href="https://www.facebook.com/events/2567128810179110/" target="_blank">View more</a>
			</p>

			<img src="{{{imageThumbUrl '/uploads/images/P1160184.jpg' quickthumb=true width=400}}}" class="d-none d-md-inline" alt="CRAMPA holds">
		</div>
		<div class="col-12 col-md-6 order-md-first">
			<a href="https://www.facebook.com/events/2567128810179110/" target="_blank">
				<img src="/uploads/images/37224063.jpg" alt="European Youth Bouldering Cup 21-22ns July in Sofia, Bulgaria">
			</a>
		</div>
	</div>
</div>
