<h2>Privacy and Data Protection Policy</h2>

<p>
	Under this Privacy and Data Protection Policy, Crampa in its capacity as a controller, takes into account the privacy and
	the need to protect natural persons' data. In accordance with the legislation in force and the best practices, the company
	shall implement the necessary technical and organizational measures to ensure the protection of Personal Data.
</p>

<p>
	The Personal Data required for the provision of Crampa products shall be collected and processed in accordance with Regulation
	(EU) 2016/679 of the European Parliament and of the Council of 27.04.2016 April 95/46 on the protection of natural persons
	with regard to the processing of Personal Data and on the free movement of such data, and repealing Directive 95/46/EC (General
	Data Protection Regulation – GDPR) as well as the applicable national or Union law. We never use or install spyware and
	cookies on your computer.
</p>

<h3>Guarantees for lawful processing of the Personal Data</h3>
<p>
	The processing of Personal Data of customers (natural persons) shall be carried out only for the purpose of:
	<ul>
		<li>a) managing and executing customer requests for products;</li>
		<li>b) compliance with a legal obligation to which Crampa is subject;</li>
		<li>c) protection of the company’s legitimate interest.</li>
	</ul>
</p>

<h3>What types of data does Crampa process</h3>
<p>
	<ul>
		<li>a) identification data: name, e-mail, contact address and phone;</li>
		<li>b) information on the requests/orders;</li>
		<li>c) other feedback received from the customers.</li>
	</ul>
</p>

<h3>How do we protect Personal Data</h3>
<p>
	In order to ensure adequate protection of Personal data, we implement all the necessary organizational and technical measures
	provided for in the applicable legislation as well as the best practices.
</p>

<h3>When do we erase Personal Data</h3>
<p>
	The use of Personal Data for the purposes related to the contractual relationship shall cease upon the termination of the
	contract but the data shall not be destroyed until the final settlement of all financial relationships and/or with in the
	terms for data retention under the applicable laws.
</p>

<h3>Categories of recipients to which we provide Personal Data:</h3>
<p>
	<ul>
		<li>a) postal operators;</li>
		<li>b) authorities;</li>
		<li>c) payment organizations.</li>
	</ul>
</p>

<h3>How you can access and update your Personal information</h3>
<p>
	The accuracy of all information is important to Crampa. If any of the Personal Data provided changes, please advise us and
	we will update this. If you have questions over the Personal Data held, please ask us.
</p>

<h3>Legal rights relating to Personal Data</h3>
<p>
	Subject to the GDPR, the Individuals’ legal rights are:
	<ul>
		<li>​a) the right of information;</li>
		<li>b) the right to rectification or cancellation;</li>
		<li>c) the right to restriction of processing;</li>
		<li>d) the right to data portability;</li>
		<li>e) the right to object to the processing of Personal Data.</li>
	</ul>

</p>

<p>
	You also have the right to complain to a Data Protection Supervisory Authority about the processing of your Personal Data
	by Crampa - <a href="https://www.cpdp.bg/" target="_blank">https://www.cpdp.bg/</a>
</p>

<h3>Contact details regarding the Privacy and Data Protection</h3>
<p>
	Crampa
	<br>​65 Evlogi & Hristo Georgievi Blvd., Sofia, Bulgaria
	<br>​tel.: +359 899 155 680
	<br>​e-mail: office@crampa.com
	<br>​Mrs Yana Grozeva – legal advisor
</p>
