<div class="container-fluid">

	<h1>Return Policy</h1>

	<p>
		As long as you return the product unused, clean and new (together with the bag when it is applicable) we will accept returns
		within 30 days of purchase and we will gladly exchange, credit or refund the cost of the item.
	</p>

	<p>
		We will not reimburse shipping, customs or import duty charges. Please note that products smelling of cigarette smoke are
		not considered resalable and are not eligible for a full refund.
	</p>

	<p>
		To arrange a return or exchange, please email us at <a href="mailto:office@crampa.com" target="_blank">office@crampa.com</a>
		and provide name, order number, the product(s) you wish to return and a brief reason for the return.
	</p>

	<p>
		Thank you!
	</p>
		
</div>
