<h2>Shipping</h2>

<p>
	Crampa is a small company and because we don't have the ability to stock large amounts of products, order processing times
	will vary depending on your order. When ordered products are in stock we can usually get those out in 1 day. Larger orders,
	or orders that include items that are currently being manufactured, shall be discussed regarding the terms of delivery.
</p>

<p>
	Please note that residents of some countries may have to pay customs or import duty charges on their order.  You are responsible
	for any customs or import duty charges you may incur. If you choose not to pay these charges, your package will not be released
	by customs. In this event, we will be unable to offer you a refund.  EU residents will not have to pay any customs or import
	duties.
</p>

<h3>Shipping charges for products up to 5 kg.</h3>
<p>
	<ul>
		<li>Zone 1 - Germany, Austria and Hungary - 15 €</li>
		<li>Zone 2 - Croatia (local name: Hrvatska), Denmark, Luxembourg, Poland, Slovakia (Slovak Republic), Slovenia - 28 €</li>
		<li>Zone 3 - Belgium, Czech Republic, France, Italy, Netherlands, United Kingdom - 21 €</li>
		<li>Zone 4 - Estonia, Finland, Ireland, Latvia, Lithuania, Portugal, Sweden - 39 €</li>
		<li>Zone 5 - Spain - 28 €</li>
		<li>Zone 6 - Greece, Romania - 7 €</li>
		<li>Zone 7 - Macedonia - 15 €</li>
	</ul>
	<div>Delivery time between 3 - 7 working days.</div>
</p>

<p>
	For larger orders and orders outside the EU and EEA we shall offer special charges and delivery terms.
</p>

<p>
	If you have any questions or concerns regarding your shipping or order processing times, please email at
	<a href="mailto:office@crampa.com"
	 target="_blank">office@crampa.com</a>.
	<main></main>
</p>
