<h2>General Terms and Conditions of Sale and Delivery CRAMPA</h2>

1. Scope of application

​

(1) The provisions of these General Terms and Conditions apply as the standard contract conditions. In accepting an order confirmation, the customer (hereafter called the Purchaser) confirms his acceptance of these General Terms and Conditions.  Contradictory terms and conditions laid down by the Purchaser will not be binding upon Crampa (hereafter called the Seller), even if no specific objections are raised by the Seller.

​(2) The products, deliveries and offers of the Seller are carried out exclusively on the basis of these Terms and Conditions. These thus also apply to all future business relations, even if they are not explicitly agreed upon again. These Terms and Conditions are taken as accepted at the latest when the product is received.

​(3) Any other document than the present General Terms and Conditions, such as catalogues, prospects, advertisements and other notes shall only be informative and indicative, and shall not constitute a contractual obligation. Product related text and image and other product specific information have been carefully prepared, however no responsibility is taken for the correctness of this information in all documents and digital media of the Seller. Any offers, order acknowledgement, order acceptance of sale of any product of the Seller is conditional upon the terms contained in this document. Any conditional or different terms proposed by the Purchaser are objected to and will not be binding upon the Seller unless accepted expressly in writing by the Seller. These conditions shall govern any individual contract of sale between the Seller and the Purchaser. Any typographical, clerical or other error omission in any sales literature, quotation, price list, order confirmation, invoice or other document of information issued by the Seller shall be subject to correction without any liability on the part of the Seller.

​

2. Orders



(1) The contract of sale is effective after acceptance by the Seller of the order submitted by the Purchaser. The offers do not constitute a contract and are of no contractual value. No order submitted by the Purchaser shall be deemed to be accepted by the Seller unless and when confirmed in writing by the Seller or the Seller‘s representative.

(2) In order to be legally effective, declarations of acceptance and all orders require written confirmation from the Seller (order confirmation) or written confirmation by email is sufficient. All order acceptances are given exclusively on the basis of these General Terms and Conditions. Supplements, amendments and verbal agreements shall require a written confirmation by the Seller to be legally binding.

(3) Revocation of an order already sent by the Purchaser and confirmed by the Seller and changes in the terms of the order shall only be admissible within 24 hours after the order confirmation has been sent by the Seller.

(4) The quantity, quality and description of any specifications for the products shall be those set out in the Seller‘s quotation (if accepted in writing by the Purchaser through an order) or the Purchaser‘s order (if accepted in writing by the Seller through the order confirmation).

(5) If the products are to be manufactured or any process is to applied to the products by the Seller in accordance with the specification submitted by the Purchaser, the Purchaser shall indemnify the Seller against all loss, damages, costs and expenses awarded against or incurred by the Seller in connection with or paid or agreed to be paid by the Seller in settlement of any claim for infringement of any patent, copyright, design, trade mark or other industrial or intellectual rights of any other person which results from the Seller‘s use of the Purchaser‘s specification. The Seller reserves the right to make any changes in the specification of the products which may be required to conform to applicable statutory requirements, without being held responsible for such changes.

(6) In addition, where the products are to be supplied to the Seller‘s specification, the Seller reserves the right to make any changes which do not materially affect the quality or performance of the products.

(7) The information contained in any selling documents prepared by the Seller is only indicative and shall not be legally binding.

​

3. Prices

​

(1) Our prices shall apply according to the terms of the agreement. If no definite price is stipulated, the list prices applicable on the date the order is placed shall be charged. If no special agreement has been entered into for the statutory value added tax, the stipulated price include applicable value added tax. If the Purchaser desires shipment or delivery to certain adress, he shall also bear the resulting costs unless otherwise expressly confirmed in writing.

(2) The  Purchaser is entitled to resell the products under the terms ot the agreement with the Seller. The retail price of our products shall be agreed between the Seller and the Purchaser in written agrrement. The Purchaser shall not be to entitled to to apply different retail prices.

​

4. Terms of payment

​

(1) Invoices are strictly payable immediately and without deduction.

(2)The Purchaser  shall be in default upon expiry of the deadline specified in the order confirmation. In case of default of payment, the Seller is entitled to charge merchants 6% interest over the respective base interest rate and consumers 3% interest over the respective base interest rate. We expressly reserve the right to refuse bills of exchange and cheques.

​

5. Set-off

​

The Purchaser  may only set off our claims with legally established counterclaims that are acknowledged or not disputed by us. The assignment of claims which the Purchaser  has against our company is excluded.

​

6. Delivery

​

Delivery times indicated by us are approximate and nonbinding. Claims may not be asserted against our company for the consequences of delayed delivery. We are entitled to make partial deliveries if this is reasonable for the Purchaser while taking our interests into account and is not precluded by the nature of the order. Deliveries are strictly at the risk of the Purchaser, even in the case of carriage paid consignments.

​

7. Despatch

​

The despatch is at the risk of the Purchaser. Risk passes to the Purchaser  upon delivery of the goods to the Purchaser, carrier, freight forwarder, etc., but no later than when they leave our company. We will undertake despatch, selection of the means of transport and the transport route as well as adequate packaging with the requisite care, but we shall only be liable in the event of a grossly negligent breach of this obligation. All despatch costs shall be borne by the Purchaser. We are entitled but not obliged to insure deliveries in the name and for the account of the customer. Unless otherwise expressly agreed in writing, delivery shall be made to the address of the Purchaser found in the order as placed.

​

8. Complaints. Claims for defects.

​

(1) If the Purchaser  is a merchant, he shall inspect the goods immediately upon delivery in the ordinary course of business and report any defects, wrong and incomplete deliveries in writing within two days of receipt of the goods. Otherwise the products will be deemed approved, unless the defects were not detectable at the inspection. If such a defect subsequently becomes apparent, this must be asserted immediately, but not later than one week after discovery. Otherwise the products are also deemed approved with respect to such defect. Visible differences in quantity are to be reported to both us and to the carrier in writing immediately upon delivery of the goods.

(2) Products that exhibit a material defect within the statute of limitations shall be repaired or replaced within a reasonable time at our option (cure), provided that the cause of the material defect already existed at the time risk passed. Should a cure fail, the Purchaser may rescind the contract or reduce the remuneration without prejudice to any claims for damages.

(3) No claims for material defects are available for only slight deviation from the agreed quality, for only slight impairment of serviceability, for natural wear and tear or damage which occur after the passage of risk as a consequence of improper or negligent handling, particularly through improper repair work, excessive stress, unsuitable equipment or based on special outside influences which are not provided for under the agreement. The Purchaser bears the full burden of proving all qualifying conditions, particularly the defect itself, the time of discovery of the defect and timely reporting of the defect.

(4) For consumers, claims for material defects are time-barred in 24 months; for merchants, the warranty period is 12 months from delivery of the goods.

(5) Contracting parties' statutory rights of recourse are available against us only insofar as the contracting party has not entered into any agreements with his buyer in excess of the statutory claims for defects.

​

9. Liability

​

The customer's claims for damages and reimbursement of expenses are precluded for all legal reasons whatsoever, particularly for breach of obligations arising from the debt obligation and those arising in tort.  The claim for damages due to the breach of material contractual obligations is, however, limited to such foreseeable damages as are typical of contract, unless wilful intent or gross negligence or liability is present or there is liability due to injury to life, limb or health. We shall always be liable only for the reimbursement of money, not for restitution in kind.



10. Retention of title

​

(1) The delivered products remain our property until all liabilities existing towards us are paid by the buyer. At our request, the  Purchaser is obliged to immediately surrender possession of the goods to us or to a third party commissioned by us. In addition, we or a third party commissioned by us are entitled to pick up the products and to enter the business premises of the Purchaser for this purpose. After prior written notification, we are entitled to sell the object of purchase and possible other collateral at our discretion within seven days after the date of such letter. The credit memo on the sales proceeds shall be deemed an invoice in terms of the value added tax law. The Purchaser must inform us of all third party seizures of our property – in particular of executions and attachments – and of all damage incurred by our property. He is obliged to reimburse all damages and costs – including court costs and lawyers' fees – incurred by us through a breach of this obligation.

(2) The  Purchaser is entitled to resell and further use the products in the ordinary course of business. He hereby assigns his claims from the resale to us. In the event that the amount of the claims that have been assigned in advance exceeds the amount of the secured claims by more than 20%, the secured party undertakes, at its option, to release the surplus accounts receivable if requested by the Purchaser.

(3) As long as he satisfies his payment obligations towards us, the Purchaser is authorized to collect the claims from the proper resale until revocation by us, which we may do at any time. The Purchaser's right of resale and to collect accounts receivable is extinguished upon the cessation of payment, the filing of an application for or the institution of insolvency proceedings, in the event of judicial or extrajudicial composition proceedings, a protest against a cheque or bill of exchange or an attachment. Assigned accounts receivable that are received after this are to be immediately aggregated in a separate account.

(4) The Purchaser is not entitled to dispose of his claims from the resale through assignment. Our own power to collect shall remain unaffected by the buyer's collection authorization. At our request, the Purchaser must inform us of the debtors of the assigned claim and inform the debtors of the assignment.

​

11. Privacy and Data Protection

​

Please review our Privacy and Data Protection Policy, which informs users of our data collection practices.

​

12. Intellectual Property

​

(1) All content included as part of the products and the site such as products design, fixation systems, text, graphics, logos, images, videos as well as the compilation thereof, and any software used on the site, is the property of the Seller or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.

(2) The sale of products does not imply the transfer to the Purchaser of our company’s industrial and intellectual property rights in respect of these products. The Purchaser may under no circumstances use, reproduce, patent, file a patent for, or communicate to third parties any surveys, projects, prototypes and documents produced by our company, or patents, designs, models or knowledge that are the property of our company without its written authorisation.

(3) The Purchaser shall not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the site. Crampa.com content is not for resale. The use of the site does not entitle the Purchaser  to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. The Seller do not grant any licenses, express or implied, to the intellectual property of Crampa or our founder Stefan Vepshek or our licensors except as expressly authorized by these General Terms and Conditions.

​

13. Electronic Communications

​

(1) Visiting crampa.com or sending emails to Crampa constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the site, satisfy any legal requirement that such communications be in writing.

(2) The Seller shall not knowingly collect, either online or offline, personal information from persons under the age of 14. If you are under 18, you may use crampa.com only with permission of a parent or guardian.

(3) Certain services made available via crampa.com are delivered by third party sites and organizations. By using any product, service or functionality originating from the crampa.com domain, you hereby acknowledge and consent that the Seller may share such information and data with any third party with whom the Seller has a contractual relationship to provide the requested product, service or functionality on behalf of crampa.com users and customers.

(4) As a condition of your use of the site, you warrant to the Seller that you will not use the site for any purpose that is unlawful or prohibited by these General Terms and Conditions. You may not use the site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the site.

​

14. Indemnification

​

You agree to indemnify, defend and hold harmless the Seller, its employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorney's fees) relating to or arising out of your use of or inability to use the site or products, any user postings made by you, your violation of any terms of this Terms and Conditions and  the agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. The Seller reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with the Seller in asserting any available defenses.

​

15. Place of performance, judicial venue, applicable Law

​

(1) The place of performance and judicial venue for merchants for all legal disputes is Sofia, Bulgaria or the location of the customer, at our option. Bulgarian law shall apply.

(2) The judicial venue shall also be Sofia, Bulgaria if the Purchaser has no general judicial venue within Bulgaria at the time of order placement or if, after placing the order, he relocates his domicile or usual place of residence outside the territory of the Republic of Bulgaria, or his usual place of residence is not known at the time the action is filed.

(3) The invalidity of a clause of these General Terms and Conditions shall not affect the validity of the other provisions. In place of the invalid clause, that contractual content shall be agreed to which promotes the purpose of the agreement in a legally valid manner.

​

16. Amendment to the General Terms and Conditions

​

The Seller reserves the right, in its sole discretion, to ammend these General Terms and Conditions. The most current version of the these General Terms and Conditions will supersede all previous versions.


