{{!-- NOTE: Not used currently as all the checkout is delegated to PayPal Express Checkout --}}
<div class="container">
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: ${{session.cart.totalPrice}}</h4>
        <div id="charge-error" class="alert alert-danger {{#unless validationErrors}}d-none{{/unless}}">
            {{validationErrors}}
        </div>
        <form method="post" id="checkout-form">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Buy</button>
        </form>
    </div>
</div>
</div>

{{#section 'body_js'}}
<script src="/public/js/build.shop-checkout.js?v={{version}}"></script>
{{/section}}
