// import the custom site CSS/LESS
@import '../../styles/variables.less';
@import '../../styles/mixins.less';

// if using swiper
.swiper-container {
	// height: 60vh;

	.swiper-slide {
		width: auto;
	}

	.slide & img {
		// width: inherit;
	}

	.swiper-button-disabled {
		visibility: hidden;
	}
}

.lum-lightbox.lum-open {
	z-index: 1000;
}
