// we have to specify to the less-loader that this is CSS remote url (otherwise it should have .css extension)
@import (css) url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

@import "./variables.less";
@import "./mixins.less";

@import	'./preloader.less';

@import	'./footer.less';
@import	'./social.less';
@import	'./nav.less';
@import	'./content.less';

@import	'./responsive.less';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	overflow: hidden;
}

button.btn-primary {
	display: inline-block;
	border: 2px solid @text-color;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: @text-color;
	text-decoration: none;
	background-color: transparent;
	border-radius: 0px;
	transition: all 0.5s;

	&:hover {
		color: @text-color-active;
		background-color: @text-backgroundcolor-active;
		border-color: @text-backgroundcolor-active;
	}
}

a {
	&, &:hover {
		color: inherit;
	}
}


.inputCommon() {
	&, &:focus {
		border-radius: 0px;
		padding-left: 15px;
		font-size: 13px;
		font-weight: 300;
		color: @text-color;
		background-color: rgba(250, 250, 250, 0.15);
		outline: none;
		border: none;
		margin-bottom: 25px;
	}

	&:focus {
		// box-shadow: none;
	}

	// common input placeholder styling
	& {
		.placeholder({
			color: @text-color;
			opacity: 0.6;
		});
	};
}

input.form-control,
textarea.form-control {
	.inputCommon();
	
}
