@media  @bootstrap-sm {
	.slide .content {
		left: 20vw;
		left: calc(20vw + @offset + @offset);
	}

	nav {
		width: 15vw;

		// hide the nav link labels
		ul li span {
			display: none;
		}
	}
}

@media @device-width-600 {
	nav ul li {
		margin: 3vh 0px;
	}
}


@media @device-width-460 {
	nav ul li {
		margin: 2.5vh 0px;
	}
}

@media @device-width-400 {
	nav ul li {
		margin: 2vh 0px;
	}
}

@media @device-width-360 {
	nav ul li {
		margin: 1vh 0px;
	}
}
